@{
    ViewData["Title"] = "History";
}

@model IList<ProjectSCAM.Models.BatchModel>

@Styles.Render("~/Content/optimization.css")
@Styles.Render("~/Content/UserStyleSheet.css")
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <table class="batchtableclass" id="batchtable">
        <tbody>
            <tr>
                
            </tr>
        </tbody>
    </table>


    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
</body>
</html>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
    var result;

    function drawChartForTemperature() {
        console.log("lol");
        result = @Html.Raw(ViewBag.Datapoints);
        var dataPoints = [];
        console.log(result);
        var min = 0;
        var max = 0;


        for (var i = 0; i < result.Values.TemperatureValues.length; i++) {
            dataPoints.push({ x: new Date(result.Values.TemperatureValues[i].Key), y: result.Values.TemperatureValues[i].Value });
            console.log(result.Values.TemperatureValues[i].Key);
            console.log(result.Values.TemperatureValues[i].Value);
            
            if (result.Values.TemperatureValues[min].Value > result.Values.TemperatureValues[i].Value) {
                min = i;
            }
            if (result.Values.TemperatureValues[max].Value < result.Values.TemperatureValues[i].Value) {
                max = i;
            }
            console.log("min: "+min);
            console.log("max: "+max);
        }
      
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Temperature Values"
            },
            axisX: {
                minimum: new Date(result.Values.TemperatureValues[0].Key),
                    maximum: new Date(result.TimestampEnd),
                },
                axisY: {
                    minimum: result.Values.TemperatureValues[min].Value-1,
                    maximum: result.Values.TemperatureValues[max].Value+1,
                    title: "Number of Sales",
                    titleFontColor: "#4F81BC",
                    suffix: " C"
                },
                data: [{
                    indexLabelFontColor: "darkSlateGray",
                    name: "views",
                    type: "line",
                    yValueFormatString: "#,##0.0 C",
                    dataPoints: dataPoints,
                }]
            });
            chart.render();

    }
    drawChartForTemperature();
</script>


