<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<html>
<head>
    @Styles.Render("~/Content/table.css")
    @Styles.Render("~/Content/firstSecond.css")

</head>
<body>
    <div class="first">
        <button type="button" class="buttons"> Set inactive</button>
    </div>
    <div class="second">
        <table>
            <tr>
                <th> User ID </th>
                <th> Username </th>
                <th> First name </th>
                <th> Last name </th>
                <th> Email </th>
                <th> Phone number </th>
                <th> User type </th>
                @{ 

                }
            </tr>
        </table>
    </div>
</body>
</html>
