@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
//ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="~/css/OverviewStyleSheet.css" />
    

</head>
    <body>
        <div id="buttons" class="buttonclass">

            <button type="button"> Start</button> <br>
            <button type="button"> Stop</button> <br>
            <button type="button"> Clear</button> <br>
            <button type="button"> Abort</button> <br>
            <button type="button"> Reset</button>

        </div>

        <div id="ingredients" class="ingredientclass">

            Yeast: <input type="text" disabled>
            Hops: <input type="text" disabled>
            Wheat: <input type="text" disabled>
            Barley: <input type="text" disabled>
            Malt: <input type="text" disabled>


        </div>

        <div id="batchqueue" class="batchqueueclass">

            <table>
                <tr>
                    <th>Number in queue:</th>
                    <th>Amount:</th>
                    <th>Speed:</th>
                    <th>Type:</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10</td>
                    <td>100</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>100</td>
                    <td>200</td>
                    <td>2</td>
                </tr>

            </table>
        </div>

        <div id="livecharts" class="livechartsclass">


        </div>

        <div id="infofields" class="infofieldsclass">

            Batch ID: <input type="text" disabled> </input>
            Acceptable Products: <input type="text" disabled> </input>
            Defect Products: <input type="text" disabled> </input>
            Speed: <input type="text" disabled> </input>
            Product Type: <input type="text" disabled> </input>
            Machine State: <input type="text" disabled> </input>

        </div>

        <div id="maintenancebar" class="maintenancebarclass">


        </div>
    </body>
</html>

