

<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<html>
<head>

    <link rel="stylesheet" href="~/css/OverviewStyleSheet.css" />


</head>
<body>

    <div class="grid-container">
        <div class="grid-item item1">
            <div id="ingredients" class="ingredientclass">

                Yeast: <span id="yeast" class="ingredientvalues"></span>
                Hops: <span id="hops" class="ingredientvalues"></span>
                Wheat: <span id="wheat" class="ingredientvalues"></span>
                Barley: <span id="barley" class="ingredientvalues"></span>
                Malt: <span id="malt" class="ingredientvalues"></span>


            </div>
        </div>
        <div class="grid-item item2">
            <div id="livecharts" class="livechartsclass">


            </div>

        </div>
        <div class="grid-item item3">
            <div id="infofields" class="infofieldsclass">

                Producing:  <p id="producing"></p>
                Acceptable Products:  <p id="produced"></p>
                Defect Products:  <p id="failed"></p>
                Speed:  <p id="speed"></p>
                Product Type:  <p id="type"></p>
                Machine State:  <p id="state"></p>

            </div>
        </div>
        <div class="grid-item item4">
            <div id="batchqueue" class="batchqueueclass">

                <table class="batchtableclass">
                    <tr>
                        <th>Number in queue:</th>
                        <th>Amount:</th>
                        <th>Speed:</th>
                        <th>Type:</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>10</td>
                        <td>100</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>100</td>
                        <td>200</td>
                        <td>2</td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="grid-item item5">
            <div id="maintenancebar" class="maintenancebarclass">
                <p> Maintenance</p>
                <div class="barclass ">
                    <div class="level maintenance">50%</div>
                </div>

</div>
            <div id="buttons" class="buttonclass">

                <button type="button" onClick="test()" id="start" class="buttons"> Start</button> <br>
                <button type="button"  id ="stop" class="buttons"> Stop</button> <br>
                <button type="button" id="clear" class="buttons"> Clear</button> <br>
                <button type="button" id="abort" class="buttons"> Abort</button> <br>
                <button type="button" id="reset" class="buttons"> Reset</button>

            </div>
        </div>
    </div>

   
</body>
</html>
<script>
    function contentLoaded() {
        var source = new EventSource('/overview/message');
        source.onmessage = function (e) {
            var opcData = JSON.parse(e.data)
            console.log(e.data);
            // set value of ingredient elements
            $("#yeast").text(opcData.Yeast);
            $("#malt").text(opcData.Malt);
            $("#hops").text(opcData.Hops);
            $("#barley").text(opcData.Barley);
            $("#wheat").text(opcData.Wheat);
            // set value of batch elements
            $("#produced").text(opcData.Produced);
            $("#failed").text(opcData.Failed);
            $("#speed").text(opcData.Speed);
            $("#type").text(opcData.ProductType);
            $("#producing").text(opcData.Producing);
            // set value of machine element
            $("#state").text(opcData.MachineState);
        }
    };
    window.addEventListener("DOMContentLoaded", contentLoaded, false);

</script>