@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<html>
<head>

    <link rel="stylesheet" href="~/css/OverviewStyleSheet.css" />


</head>
<body>
    <div id="buttons" class="buttonclass">

        <button type="button" onClick ="test()" id="start"> Start</button> <br>
        <button type="button"> Stop</button> <br>
        <button type="button"> Clear</button> <br>
        <button type="button"> Abort</button> <br>
        <button type="button"> Reset</button>

    </div>

    <div id="ingredients" class="ingredientclass">

        Yeast: <p id="yeast"></p>
        Hops: <p id="hops"></p>
        Wheat: <p id="wheat"></p>
        Barley: <p id="barley"></p>
        Malt: <p id="malt"></p>


    </div>

    <div id="batchqueue" class="batchqueueclass">

        <table>
            <tr>
                <th>Number in queue:</th>
                <th>Amount:</th>
                <th>Speed:</th>
                <th>Type:</th>
            </tr>
            <tr>
                <td>1</td>
                <td>10</td>
                <td>100</td>
                <td>3</td>
            </tr>
            <tr>
                <td>2</td>
                <td>100</td>
                <td>200</td>
                <td>2</td>
            </tr>

        </table>
    </div>

    <div id="livecharts" class="livechartsclass">


    </div>

    <div id="infofields" class="infofieldsclass">

        Producing:  <p id="producing"></p>
        Acceptable Products:  <p id="produced"></p>
        Defect Products:  <p id="failed"></p>
        Speed:  <p id="speed"></p>
        Product Type:  <p id="type"></p>
        Machine State:  <p id="state"></p>

    </div>

    <div id="maintenancebar" class="maintenancebarclass">


    </div>
</body>
</html>
<script>
    function contentLoaded() {
        var source = new EventSource('/overview/message');
        source.onmessage = function (e) {
            var opcData = JSON.parse(e.data)
            console.log(e.data);
            // set value of ingredient elements
            $("#yeast").text(opcData.Yeast);
            $("#malt").text(opcData.Malt);
            $("#hops").text(opcData.Hops);
            $("#barley").text(opcData.Barley);
            $("#wheat").text(opcData.Wheat);
            // set value of batch elements
            $("#produced").text(opcData.Produced);
            $("#failed").text(opcData.Failed);
            $("#speed").text(opcData.Speed);
            $("#type").text(opcData.ProductType);
            $("#producing").text(opcData.Producing);
            // set value of machine element
            $("#state").text(opcData.MachineState);
        }
    };
    window.addEventListener("DOMContentLoaded", contentLoaded, false);

</script>