@{
    //ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    
    
        
        <link href="~/Views/Login/LoginStyleSheet.css" rel="stylesheet"/>
    
</head >
<body>
    <div id="buttons" class="buttonclass">

        <button type="button"> Start</button> <br>
        <button type="button"> Stop</button> <br>
        <button type="button"> Clear</button> <br>
        <button type="button"> Abort</button> <br>
        <button type="button"> Reset</button>

    </div>

    <div id="ingredients" class="ingredientclass">

        Yeast: <input type="text" disabled> </input >
        Hops: <input type="text" disabled> </input >
        Wheat: <input type="text" disabled> </input >
        Barley: <input type="text" disabled> </input >
        Malt: <input type="text" disabled> </input >


    </div>

    <div id="batchqueue" class="batchqueueclass">

        


    </div>
</body>
        </html >
