@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div id="textFields">
        Username: <input type="text" id="usernameField"> </input >
        <br />
        Password: <input type="password" id="passwordField"> </input >
    </div>
    <div id="button">
        <button type="Login" id="loginButton">Login</button>
    </div>
</body>
</html>
