.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
}

.grid-item {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    border: 2px solid black
}

.item2 {
    grid-column: 1;
    grid-row: 2;
    border: 2px solid black
}

.item3 {
    grid-column: 2;
    grid-row: 2;
    
}

.alarmtableclass, th, td {
    border-collapse: collapse;
    border-spacing: 10px;
    padding: 10px;
    border: 2px solid black;
}

/* Dropdown Button */
.dropbtnAlarms {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdownAlarms {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownAlarmsMachine-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    
    z-index: 1;
}

/* Links inside the dropdown */
.dropdownAlarmsMachine-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    /* Change color of dropdown links on hover */
.dropdownAlarmsMachine-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdownAlarms:hover .dropdownAlarmsMachine-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownAlarms:hover .dropbtnAlarms {
    background-color: #3e8e41;
}
