.spanHead {
    margin: auto;
    display: table;
    font-size: 20px;
    font-weight: bold;
}

/* Dropdown Button */
.dropbtnUserTypes {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdownUserTypes {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownUserType-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdownUserType-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdownUserType-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdownUserTypes:hover .dropdownUserType-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownUserTypes:hover .dropbtnUserTypes {
    background-color: #3e8e41;
}
