<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/ProductionStyleSheet.css")
    @Styles.Render("~/Content/dropdown.css")
</head>
<body>
    <div class="grid-container">
        <div class="grid-item item1">
            <div id="insert" class="insetclass">
                <div id="textFields">
                    Speed: <input type="text" id="speedField"><br><br>
                    Amount: <input type="text" id="speedField">
                </div>
                <div id="button">
                </div>
                <br><br>
                <div class="dropdown">

                    <button class="dropbtn" id="machineSelect">Production Type:</button>
                    <div class="dropdown-content">
                        
                        <input type="radio" id="pilsnerID" name="beer" value="pilsner">Pilsner<br>
                        <input type="radio" id="wheatID" name="beer" value="wheat">Wheat<br>
                        <input type="radio" id="ipaID" name="beer" value="IPA">IPA<br>
                        <input type="radio" id="stoutID" name="beer" value="Stout">Stout<br>
                        <input type="radio" id="aleID" name="beer" value="Ale">Ale<br>
                        <input type="radio" id="alcholFreeID" name="beer" value="Alcholo Free">Alcohol Free
                        <br>
                    </div>
                </div>
            </div>
            <br><br>

            <button type="Submit" id="createButton">Create Batch</button>

        </div>

        <div class="grid-item item2">
            <div id="batchQueue" class="batchQueueclass">


                <table class="batchtQueueTableClass" id="batchQueueTableid">
                    <tr>
                        <th>Batch ID:</th>
                        <th>Beer Type:</th>
                        <th>Amount:</th>
                        <th>Time Start:</th>
                        <th>Time End:</th>
                        <th>Speed:</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>10</td>
                        <td>100</td>
                        <td>3</td>
                        <td>3</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>100</td>
                        <td>200</td>
                        <td>2</td>
                        <td>3</td>
                        <td>3</td>
                    </tr>

                </table>
            </div>
        </div>
                    <div class="grid-item item3">
                        <div id="batchQueue" class="batchQueueclass">

                            <button type="Submit" id="moveButton">Move Up</button><br><br>
                            <button type="Submit" id="moveButton">Move Down</button><br><br>
                            <button type="Submit" id="moveButton">Delete</button><br><br>
                          

                        </div>
                    </div>
    </div>

            
          

      
</body>
    </html>
