<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/ProductionStyleSheet.css")
    @Styles.Render("~/Content/dropdown.css")
    @Scripts.Render("~/Scripts/productionScript.js")
</head>
<body>
    <div class="grid-container">
        <div class="grid-item item1">
            <div id="insert" class="insetclass">
                <div id="textFields">
                    <input type="text" id="speedField" placeholder="Speed" title="Speed has to be: Pilsner: 0-600, Wheat: 0-300, IPA: 0-150, Stout: 0-200, Ale: 0-100, Alcohol Free: 0-125." onblur="checkSpeed()"><br><br>
                    <input type="text" id="amountField" placeholder="Amount" title="Choose the amount to be produced (number)" onblur="checkAmount()">
                </div>
                <div id="button">
                </div>
                <br><br>
                <div class="dropdown">

                    <button class="dropbtn" id="machineSelect">Production Type:</button>
                    <div class="dropdown-content">
                        <br>
                        <a href="">Alcahole Free</a>
                        <a href="">Pilsner</a>
                        <br>
                    </div>
                </div>
            </div>
            <br><br>

            <button type="Submit" id="createButton">Create Batch</button>

        </div>

        <div class="grid-item item2">
            <div id="batchQueue" class="batchQueueclass">


                <table class="batchtQueueTableClass" id="batchQueueTableid">
                    <tr>
                        <th>Batch ID:</th>
                        <th>Beer Type:</th>
                        <th>Amount:</th>
                        <th>Time Start:</th>
                        <th>Time End:</th>
                        <th>Speed:</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>10</td>
                        <td>100</td>
                        <td>3</td>
                        <td>3</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>100</td>
                        <td>200</td>
                        <td>2</td>
                        <td>3</td>
                        <td>3</td>
                    </tr>

                </table>
            </div>
        </div>
                    <div class="grid-item item3">
                        <div id="batchQueue" class="batchQueueclass">

                            <button type="Submit" id="moveButton">Move Up</button><br><br>
                            <button type="Submit" id="moveButton">Move Down</button><br><br>
                            <button type="Submit" id="moveButton">Delete</button><br><br>
                          

                        </div>
                    </div>
    </div>

            
          

      
</body>
    </html>
