<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/LoginSheet.css")
    @Scripts.Render("~/Scripts/loginScript.js")
    
</head>
<body>
    
    
    <div class="grid-container">
        <div class="grid-item item1">
            <div id="textFields">
                <br />
                <input type="text" class="input-field" id="usernameField" onblur="checkUsername()" placeholder="Username">
                <br />
                <br />
                <input type="password" id="passwordField" onblur="checkPassword()" placeholder="Password">
                <br />
                <br />
            </div>
            <div id="button">
                <button type="submit" id="loginButton">Login</button>
            </div>

        </div>
    </div>
</body>
</html>
