
@{
    ViewData["Title"] = "Optimization";
}

@model IList<ProjectSCAM.Models.BatchModel>
@Styles.Render("~/Content/optimization.css")
@Styles.Render("~/Content/UserStyleSheet.css")
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div>
        <br>
        <br>
    </div>
    <table class="batchtableclass" id="batchtable">
        <tbody>
            <tr>
                <form action="/optimization/getbatchesbyrecipe" method="get">
                    <input type="hidden" name="recipe" value="0" />
                    <input type="submit" value="Pilsner" />
                </form>
                <form action="/optimization/getbatchesbyrecipe" method="get">
                    <input type="hidden" name="recipe" value="1" />
                    <input type="submit" value="Wheat" />
                </form>
                <form action="/optimization/getbatchesbyrecipe" method="get">
                    <input type="hidden" name="recipe" value="2" />
                    <input type="submit" value="IPA" />
                </form>
                <form action="/optimization/getbatchesbyrecipe" method="get">
                    <input type="hidden" name="recipe" value="3" />
                    <input type="submit" value="Stout" />
                </form>
                <form action="/optimization/getbatchesbyrecipe" method="get">
                    <input type="hidden" name="recipe" value="4" />
                    <input type="submit" value="Ale" />
                </form>
                <form action="/optimization/getbatchesbyrecipe" method="get">
                    <input type="hidden" name="recipe" value="5" />
                    <input type="submit" value="Alcohol Free" />
                </form>
            </tr>
        </tbody>
        </table>


        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
</body>
</html>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
    var result;
    
    function drawChart() {

        result = @Html.Raw(ViewBag.Datapoints);
        var dataPoints = [];

        for (var i = 0; i < result.length; i++) {
            dataPoints.push({ x: result[i].Speed, y: result[i].Oee*100.0 });
         

        }

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Overall Equipment Effectiveness"
            },
            axisX: {
                title: "SPEED in products per minute",
                titleFontColor: "#4F81BC",
                minimum: -10,
                maximum: 800
            },
            axisY: {
                title: "OEE %",
                titleFontColor: "#4F81BC",
                minimum: -10.0,
                maximum: 100.0,
                suffix: ""
            },
            data: [{
                indexLabelFontColor: "darkSlateGray",
                name: "views",
                type: "line",
                xValueFormatString: "speed: #,##0.0''",
                yValueFormatString: "oee: #,##0.0'%'",
                dataPoints: dataPoints,
            }]
        });
        chart.render();
    }
    drawChart();
</script>

<script>
    function DrawFromChosenBeer(rec) {
        $.get("/optimization/GetBatchesByRecipe", { recipe: rec });
        console.log(rec);

    }
</script>