.wrapper {
    width: 200px;
    overflow: hidden;
    display: flex;
}

.first {
    width: 15%;
    float: left;
    / add this /
}

.second {
    border-style: solid;
    border-width: thin;
    border-height: 10%;
    text-align: center;
    background-color: lightgray;
    width: 75%;
    float: left;
}
