@import '../../../../css/libs/mixins.scss';

.breaseFlexBox {

    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    overflow: hidden;

    > .container {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;

        &.vertical {
            flex-direction: column;
        }

        &.horizontal{
            flex-direction: row;
        }
    }
}
