@{
    ViewData["Title"] = "Overview";
}

<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<html>
<head>

    @Styles.Render("~/Content/OverviewStyleSheet.css")
    @Scripts.Render("~/Scripts/OverviewScript.js")

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Sales', 'Expenses'],
                ['2004', 1000, 400],
                ['2005', 1170, 460],
                ['2006', 660, 1120],
                ['2007', 1030, 540]
            ]);
            var data1 = google.visualization.arrayToDataTable([
                ['Year', 'Sales', 'Expenses'],
                ['2004', 1000, 400],
                ['2005', 1170, 460],
                ['2006', 660, 1120],
                ['2007', 1030, 540]
            ]);
            var data2 = google.visualization.arrayToDataTable([
                ['Year', 'Sales', 'Expenses'],
                ['2004', 1000, 400],
                ['2005', 1170, 460],
                ['2006', 660, 1120],
                ['2007', 1030, 540]
            ]);

            var options = {
                title: 'Temperature',
                curveType: 'function',
                legend: { position: 'bottom' }
            };
            var options1 = {
                title: 'Humidity',
                curveType: 'function',
                legend: { position: 'bottom' }
            };
            var options2 = {
                title: 'Vibration',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('temp_chart'));
            var chart1 = new google.visualization.LineChart(document.getElementById('humidity_chart'));
            var chart2 = new google.visualization.LineChart(document.getElementById('vibration_chart'));

            chart.draw(data, options);
            chart1.draw(data1, options1);
            chart2.draw(data2, options2);
        }
    </script>

</head>
<body>

    <div class="grid-container">
        <div class="grid-item item1">
            <div id="ingredients" class="ingredientclass">

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yeast: <span id="yeast" class="ingredientvalues"></span>
                Hops: <span id="hops" class="ingredientvalues"></span>
                Wheat: <span id="wheat" class="ingredientvalues"></span>
                Barley: <span id="barley" class="ingredientvalues"></span>
                Malt: <span id="malt" class="ingredientvalues"></span>


            </div>
        </div>
        <div class="grid-item item2">
            <div id="livecharts" class="livechartsclass">
                <div id="temp_chart" class="chartsclass"></div>
                <div id="humidity_chart" class="chartsclass"></div>
                <div id="vibration_chart" class="chartsclass"></div>

            </div>

        </div>
        <div class="grid-item item3">
            <div id="infofields" class="infofieldsclass">

                Producing:  <p id="producing"></p>
                Acceptable Products:  <p id="produced"></p>
                Defect Products:  <p id="failed"></p>
                Speed:  <p id="speed"></p>
                Product Type:  <p id="type"></p>
                Machine State:  <p id="state"></p>

            </div>
        </div>
        <div class="grid-item item4">
            <div id="batchqueue" class="batchqueueclass">

                <table class="batchtableclass" id="batchtable">
                    <tr>
                        <th>Number in queue:</th>
                        <th>Amount:</th>
                        <th>Speed:</th>
                        <th>Type:</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>10</td>
                        <td>100</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>100</td>
                        <td>200</td>
                        <td>2</td>
                    </tr>

                </table>
                <button input type="submit" onclick="refreshBQ()">Refresh</button>
            </div>
        </div>
        <div class="grid-item item5">
            <div id="maintenancebar" class="maintenancebarclass">
                <p> Maintenance</p>
                <div class="barclass ">
                    <div class="level maintenance">50%</div>
                </div>

            </div>
            <div id="buttons" class="buttonclass">

                <button input type="submit" onclick="machineCommand('start')" id="start" class="buttons"> Start</button> <br>
                <button input type="submit" onclick="machineCommand('stop')" id="stop" class="buttons"> Stop</button> <br>
                <button input type="submit" onclick="machineCommand('clear')" id="clear" class="buttons"> Clear</button> <br>
                <button input type="submit" onclick="machineCommand('abort')" id="abort" class="buttons"> Abort</button> <br>
                <button input type="submit" onclick="machineCommand('reset')" id="reset" class="buttons"> Reset</button>
                <button input type="submit" onclick="me()" id="a" class="buttons"> me</button>
                <button input type="submit" onclick="soren()" id="b" class="buttons"> Reset</button>
            </div>
        </div>
    </div>


</body>
</html>
<script>
    me();
    function me() {
        console.log("me");
        $.post("/overview/SetSelectedMachine", { ip: "opc.tcp://127.0.0.1:4840"});
    }
    function soren() {
        console.log("soren");
        $.post("/overview/SetSelectedMachine", { ip: "opc.tcp://192.168.0.122:4840" });
        console.log("worked");
    }
    function contentLoaded() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Message")',
            dataType: 'json',
            data: { id: '' },
            success: function (data) {
            // set value of ingredient elements
                $("#yeast").text(data.Yeast);
                $("#malt").text(data.Malt);
                $("#hops").text(data.Hops);
                $("#barley").text(data.Barley);
                $("#wheat").text(data.Wheat);
            // set value of batch elements
                $("#produced").text(data.ProcessedProducts);
                $("#failed").text(data.DefectProducts);
                $("#speed").text(100); // add speed node to monitored items in opc
                $("#type").text(3); // add type node to monitored items in opc
                $("#producing").text(data.AmountToProduce);
            // set value of machine element
                $("#state").text(data.StateCurrent);
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
    };
    window.setInterval(contentLoaded, 100);



</script>
