
@{
    ViewData["Title"] = "Machine Selection";
}
<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/dropdown.css")

</head>
<body>
    <div class="dropdown">
        <button class="dropbtn" id="machineSelect">Machines</button>
        <div class="dropdown-content">
            <a href="">Test 1</a>
            <a href="">Test 2</a>
        </div>
    </div>
</body>
</html>
