@model List<ProjectSCAM.Models.MachineModel>
@{
    ViewData["Title"] = "Machine Selection";
}
<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/dropdown.css")

</head>
<body>
    <div class="dropdown">
        <button class="dropbtn" id="machineSelect">Machines</button>
        <div class="dropdown-content">
            @foreach(var item in Model) {
                <a href="">@item.Ip</a>
            }
        </div>
        <div class="descriptionBox">
            <span>hello</span>

        </div>
    </div>
</body>
</html>
