<!DOCTYPE html>
<html>
<head>

    @Styles.Render("~/Content/CreateUserStyleSheet.css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


</head>
<body>
    <div class="spanHead">
        User creation <span id="userCreationHead" class="userCreationHeadLine" style="font-size: 20px;"></span> <br> <br>

    </div>
    <div class="createUser-content">
        

                User information:  <p id="userParagraph"></p>
                                   <form onsubmit="return checkFields()" method="post" action="~/Login/Index">
                                       Username: <input type="text" required name="usernameField" id="usernameField" title="Five or more characters" value="" onblur="checkUsername()"> <br> <br>
                                       Password: <input type="password" required name="passwordField" id="passwordField" title="Should have atleast 1 uppercase character, 1 lowercase character, 1 number and be atleast 8 characters" onblur="checkPassword"> <br> <br>
                                       Repeat password: <input type="password" required name="repeatPasswordField" id="repeatPasswordField" title="Should match password" onblur="checkRepeatPassword()"> <br> <br>
                                       Firstname: <input type="text" required name="firstnameField" id="firstnameField" title="Should contain characters" onblur="checkFirstname()"> <br> <br>
                                       Lastname: <input type="text" required name="lastnameField" id="lastnameField" title="Should contain characters" onblur="checkLastname()"> <br> <br>
                                       Phonenumber: <input type="text" required name="phonenumberField" id="phonenumberField" title="Should contain 8 numbers" onblur="checkPhonenumber()"> <br> <br>
                                       Email address: <input type="email" required name="emailField" id="emailField" title="Must be an email address of the format: characters@characters.domain" onblur="checkEmail()"> <br> <br>


                                       <div class="dropdownUserTypes">
                                           <button class="dropbtnUserTypes" id="UserTypesSelect">User type</button>
                                           <div class="dropdownUserType-content">

                                               <input type="radio" name="userType" value="userType" id="userType1" checked>User type 1 <br>
                                               <input type="radio" name="userType" value="userType" id="userType2">User type 2 <br>
                                               <input type="radio" name="userType" value="userType" id="userType3">User type 3 <br>
                                           </div>
                                       </div> <br> <br>

                                       <input type="submit" name="submitButton" value="create user" id="submitButton">

                                   </form>


    </div>
    <script>
        function checkUsername() {
            

            
            var username = document.getElementById("usernameField").value;
            var regex = /^[a-zA-Z\d]{5,20}$/;
            
            
            if (regex.test(username)) {
                document.getElementById("usernameField").style.color = "green";
                return regex.test(username);
                
            }
            else {
                document.getElementById("usernameField").style.color = "red";
                return regex.test(username)
            }
            
        }
        function checkPassword() {



            var password = document.getElementById("passwordField").value;
            var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/;


            if (regex.test(password)) {
                document.getElementById("passwordField").style.color = "green";
                return regex.test(password);

            }
            else {
                document.getElementById("passwordField").style.color = "red";
                return regex.test(password)
            }

        }
        function checkRepeatPassword() {



            var password = document.getElementById("passwordField").value;
            var repeatPassword = document.getElementById("repeatPasswordField").value;
            var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/;


            if (regex.test(repeatPassword) && password === repeatPassword) {
                document.getElementById("repeatPasswordField").style.color = "green";
                return regex.test(repeatPassword) && password === repeatPassword;

            }
            else {
                document.getElementById("repeatPasswordField").style.color = "red";
                return regex.test(repeatPassword && password === repeatPassword)
            }

        }
        function checkFirstname() {



            var firstname = document.getElementById("firstnameField").value;
            var regex = /^[a-zA-Z]{2,30}$/;


            if (regex.test(firstname)) {
                document.getElementById("firstnameField").style.color = "green";
                return regex.test(firstname);

            }
            else {
                document.getElementById("firstnameField").style.color = "red";
                return regex.test(firstname)
            }

        }
        function checkLastname() {



            var lastname = document.getElementById("lastnameField").value;
            var regex = /^[a-zA-Z]{2,30}$/;


            if (regex.test(lastname)) {
                document.getElementById("lastnameField").style.color = "green";
                return regex.test(lastname);

            }
            else {
                document.getElementById("lastnameField").style.color = "red";
                return regex.test(lastname)
            }

        }
        function checkPhonenumber() {



            var phonenumber = document.getElementById("phonenumberField").value;
            var regex = /^[\d]{8}$/;


            if (regex.test(phonenumber)) {
                document.getElementById("phonenumberField").style.color = "green";
                return regex.test(phonenumber);

            }
            else {
                document.getElementById("phonenumberField").style.color = "red";
                return regex.test(phonenumber)
            }

        }
        function checkEmail() {



            var email = document.getElementById("emailField").value;
            var regex = /^[a-zA-Z0-9_.-]+@@[a-zA-Z0-9]+[a-zA-Z0-9.-]+[a-zA-Z0-9]+.[a-z]{0,4}$/;


            if (regex.test(email)) {
                document.getElementById("emailField").style.color = "green";
                return regex.test(email);

            }
            else {
                document.getElementById("emailField").style.color = "red";
                return regex.test(email)
            }

        }
        function checkFields() {
            console.log(checkUsername());
            console.log(checkPassword());
            console.log(checkRepeatPassword());
            console.log(checkFirstname());
            console.log(checkLastname());
            console.log(checkPhonenumber());
            console.log(checkEmail());
        
            if (checkUsername() && checkPassword() && checkRepeatPassword() && checkFirstname() && checkLastname() && checkPhonenumber() && checkEmail()) {
                console.log("true");
                return true;
            }
            else {
                console.log("false");
                return false;
            }
        }


    </script>

</body>

</html>

