<!DOCTYPE html>
<html>
<head>

    @Styles.Render("~/Content/CreateUserStyleSheet.css")
    @Scripts.Render("~/Scripts/createUserScript.js")


</head>
<body>
    <div class="spanHead">
        User creation <span id="userCreationHead" class="userCreationHeadLine" style="font-size: 20px;"></span> <br> <br>

    </div>
    <div class="createUser-content">
        

                User information:  <p id="userParagraph"></p>
                                   <form onsubmit="return checkFields()" method="post" action="~/Login/Index">
                                       Username: <input type="text" required name="usernameField" id="usernameField" title="Five or more characters" value="" onblur="checkUsername()"> <br> <br>
                                       Password: <input type="password" required name="passwordField" id="passwordField" title="Should have atleast 1 uppercase character, 1 lowercase character, 1 number and be atleast 8 characters" onblur="checkPassword"> <br> <br>
                                       Repeat password: <input type="password" required name="repeatPasswordField" id="repeatPasswordField" title="Should match password" onblur="checkRepeatPassword()"> <br> <br>
                                       Firstname: <input type="text" required name="firstnameField" id="firstnameField" title="Should contain characters" onblur="checkFirstname()"> <br> <br>
                                       Lastname: <input type="text" required name="lastnameField" id="lastnameField" title="Should contain characters" onblur="checkLastname()"> <br> <br>
                                       Phonenumber: <input type="text" required name="phonenumberField" id="phonenumberField" title="Should contain 8 numbers" onblur="checkPhonenumber()"> <br> <br>
                                       Email address: <input type="email" required name="emailField" id="emailField" title="Must be an email address of the format: characters@characters.domain" onblur="checkEmail()"> <br> <br>


                                       <div class="dropdownUserTypes">
                                           <button class="dropbtnUserTypes" id="UserTypesSelect">User type</button>
                                           <div class="dropdownUserType-content">

                                               <input type="radio" name="userType" value="userType" id="userType1" checked>User type 1 <br>
                                               <input type="radio" name="userType" value="userType" id="userType2">User type 2 <br>
                                               <input type="radio" name="userType" value="userType" id="userType3">User type 3 <br>
                                           </div>
                                       </div> <br> <br>

                                       <input type="submit" name="submitButton" value="create user" id="submitButton">

                                   </form>


    </div>
    

</body>

</html>

